html {
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  background-color: darksalmon;
}

html, body {
  margin: 0;
  padding: 0;
}

.logo{
  text-align: center;
  font-size: larger;
  font-weight: bolder;
  /* background-color: rgb(49, 109, 179); */
  color: black;
  padding: 0.5em;
}

#character-bar {
  height: 15vh;
  background: darksalmon;
  display: flex;
  border: double;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 3vh;
}

#character-bar span {
  padding: 1%;
  margin: auto;
  height: 80%;
  width: 10vw;
  display: flex;
  justify-content: center;
  font-size: x-large;
  align-items: center;
  border-radius: 10px;
  border: 1px solid white;
}

.characterInfo{
  height: 550px;
  padding: 30px;
  font-size: 24px;
  /* border: dotted; */
  text-align: center;
}

input[type="submit"], button {
  background-color: indianred;
  border: hidden;
  color: black;
  font-size: 18px;
  border-radius: 6px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

input[type="text"] {
  font-size: 3vh;
  border: hidden;
  background-color: wheat;
  border-radius: 10px;
  text-align: unset;
}

#image{
  width: 300px;
  height: 300px;
}

.image-info{
  width: 100px;
  height: 100px;
  border-radius: 30px;
}

